<div class="tab-content">
    <!--begin::Tab pane-->
    <div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
        <div class="d-flex flex-column gap-7 gap-lg-10">
<!--begin::General options-->
<div class="card card-flush py-4">
<!--begin::Card header-->
<div class="card-header">
<div class="card-title">
    <h2>Notes</h2>
</div>
</div>
<!--end::Card header-->

<!--begin::Card body-->
<div class="card-body pt-0">


<!--begin::Input group-->
<div>
    <!--begin::Label-->
    <label class="form-label">Description</label>
    <!--end::Label-->

    <!--begin::Editor-->

    <input type="text" class="form-control mb-2" name="meta_title" placeholder="Ajouter des commentaires pour une visibilité plus claire." />           <!--end::Editor-->

    <!--begin::Description-->
    <!--end::Description-->
</div>
<!--end::Input group-->
</div>
<!--end::Card header-->
</div>
<!--end::General options-->
<!--begin::Media-->
<div class="card card-flush py-4">
<!--begin::Card header-->
<div class="card-header">
<div class="card-title">
    <h2>Fichiers</h2>
</div>
</div>
<!--end::Card header-->

<!--begin::Card body-->
<div class="card-body pt-0">
<!--begin::Input group-->
<div class="fv-row mb-2">
    <!--begin::Dropzone-->
    <div class="dropzone" id="kt_ecommerce_add_product_media">
        <!--begin::Message-->
        <div class="dz-message needsclick">
            <!--begin::Icon-->
            <i class="ki-duotone ki-file-up text-primary fs-3x"><span class="path1"></span><span class="path2"></span></i>                    <!--end::Icon-->
            <!--begin::Info-->
            <div class="ms-4">
                <h3 class="fs-5 fw-bold text-gray-900 mb-1">Ajouter Des Fichiers Supplémentaires</h3>
                <span class="fs-7 fw-semibold text-gray-400">Ajouter plus que 10 fichiers.</span>
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Dropzone-->
</div>
<!--end::Input group-->

</div>
<!--end::Card header-->
</div></div></div></div>
<!--end::Media--><div></div>
<div class="d-flex justify-content-end">
<!--begin::Button-->
<a href="/metronic8/demo1/../demo1/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">
Annuler
</a>
<!--end::Button-->

<!--begin::Button-->
<button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
<span class="indicator-label">
    Enregistrer
</span>
<span class="indicator-progress">
    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
</span>
</button>
<!--end::Button-->
</div>





